body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /*font-family: 'Roboto', sans-serif;*/
}

.btn-brand {
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD 51%, #4CB8C4 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-brand:hover {
    background-position: right center;
}

.bg-brand-gradient {
    background-image: linear-gradient(40deg, #4CB8C4, #3CD3AD);
}

.carousel-caption div {
    max-width: 660px;
    margin: 0 auto;
}

.carousel-caption h2 {
    font-size: 48px;
    font-weight: bold;
}

section.page-block {
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #eee;
}

.pricing-table-wrapper {
    position: relative;
    overflow: hidden;
}

.ribbon {
    position: absolute;
    width: 114px;
    padding: 5px 0;
    background-color: #ff9800;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    color: #fff;
    text-align: center;
    top: 9px;
    left: -36px;
    transform: rotate(311deg);
}

.pricing-table-wrapper ul {
    margin: 25px 0;
    padding: 0;
}

.pricing-table-wrapper ul li {
    list-style: none;
    margin-bottom: 10px;

}

.pricing-table-wrapper ul li i {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: rgba(82, 67, 194, 0.20);
    line-height: 30px;
    border-radius: 100%;
    text-align: center;
}

.package-block {
    background-color: #f5f5f5;
}

.section-title {
    font-weight: 600;
}

.pricing-table-wrapper {
    transition: 0.2s;
}

.pricing-table-wrapper:hover {
    background-color: #fff;
}

.facility-box i {
    /*font-size: 44px;*/
    color: #aba9a9;
}

.main-footer {

}